<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/content.css">
  <link rel="stylesheet" href="/styles/layout.css">
</head>
<body>
  <%- include("partials/header.ejs") %>


  <h1>Portfolio</h1>

  <p>
    Здраствуйте меня зовуть <legend>Бегметов Дилмурод</legend> мне <strong>16</strong> леть и будущий програмист (ну хочу им быть)
  </p>
  <p>
    Учебное зовидение: It park "Al-Xorazmiy vorislari"<br>
    Школа: Urganch tuman 5-sonli maktab <br>
    <legend>Языки:</legend> Знаю <strong>Руский</strong>, <strong>O`zbek tili</strong>, <Strong>and English</Strong><br>
    <legend>Опыть роботы:</legend> <strong>Отсуствуеть</strong> <br>
    <Legend>
      Мои сотцсеты:
    </Legend>
    <strong>
      |<br>
      |<br>
      |<br>
    </strong>
   </p>

  <%- include("partials/footer.ejs") %>
</body>
</html>